.footer {
  grid-column: 1 / end;
  padding: 3rem 1rem;
  background-color: $color-text;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  p {
    color: $color-primary;
  }

  i {
    font-size: 10rem;
    margin: 3rem 0;
  }

  a {
    color: $color-secondary;
  }

  @include respond(tab-port) {
    i {
      font-size: 6rem;
    }

    h1 {
      font-size: 3.2rem;
    }
  }
}
