.section-managment {
  grid-column: 2/-2;
  padding: 10rem 0 5rem 0;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 45rem));
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;

  .card__small {
    &:nth-of-type(odd) {
      grid-row: 1/2;
    }

    &:nth-of-type(even) {
      grid-row: 2/3;
    }
  }

  @include respond(first-change) {
    grid-template-columns: 1fr min-content 1fr;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, min-content);

    .card__small {
      grid-column: 3/4;
    }

    .card__small {
      &:nth-of-type(odd) {
        grid-row: auto;
      }

      &:nth-of-type(even) {
        grid-row: auto;
      }
    }
  }
}

.section-managment-komisja {
  grid-column: 2/-2;
  margin-bottom: 5rem;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 45rem));
    grid-gap: 5rem;
    justify-content: center;
    align-items: center;
  }
  h2 {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1 / end;
    padding-bottom: 5rem;
    font-weight: 500;
  }
}
