.section-about {
  grid-column: 2/-2;

  &__row {
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: repeat(2, 50%);

    &__content {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__img {
      padding: 2rem;

      img {
        box-shadow: $shadow-medium;
        display: block;
        width: 100%;
        margin: auto;
      }
    }
  }
}
