.section-hero {
  padding-top: 8vh;
  grid-column: 1/-1;
  min-height: 100vh;
  position: relative;

  background-image: radial-gradient(
    rgba($color-primary, 0.8),
    rgba($color-primary, 1)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
