.section-projects {
  grid-column: 2/-2;

  display: grid;
  grid-template-columns: 1fr;

  &__buttons {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 2rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));

    &__button {
      display: inline-block;
      padding: 3rem 7rem;
      border-radius: 5px;
      background-color: $color-primary;
      color: $color-text ;
    }
  }
}

.active {
  background-color: $color-secondary;
}
