.section-donate {
  grid-column: 2/-2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 70%;
    margin: auto;
  }

  &__bank {
    position: relative;
    max-width: 65rem;
    padding: 2.5rem 6rem;
    background-color: #fff;
    box-shadow: $shadow-medium;

    i {
      color: $color-secondary;
      font-size: 5rem;
    }

    & i:last-child {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 2.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
