// Colors

$color-text: #fff;
$color-secondary: #047449;
$color-primary: #212121;
$color-third: #110f08;

// Shadows

$shadow-big: 0 1rem 2rem rgba(black, 0.25);
$shadow-medium: 0 0.5rem 1rem rgba(black, 0.2);
$shadow-small: 0 0.25rem 0.5rem rgba(black, 0.15);
