// Colors

$color-text: #f1f1e8;
$color-secondary: #81b214;
$color-primary: #131313;
$color-third: #206a5d;

// Shadows

$shadow-big: 0 1rem 2rem rgba(black, 0.25);
$shadow-medium: 0 0.5rem 1rem rgba(black, 0.2);
$shadow-small: 0 0.25rem 0.5rem rgba(black, 0.15);
