.btn {
  display: inline-block;
  background-color: $color-secondary;
  border-radius: 5px;
  padding: 1.5rem 4rem;
  font-size: 3.5rem;
  font-family: inherit;
  text-decoration: none;
  color: $color-text;
  position: relative;
  backface-visibility: hidden;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in;

  &::before {
    height: 100%;
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    background-color: rgba($color-third, 0.5);
    transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    top: 0;
    left: 0;
    transform: translateX(110%) scale(1.1);
    border-radius: 5px;
    backface-visibility: hidden;
  }

  &:hover {
    color: $color-text !important;
  }

  &:hover::before {
    transform: translateX(0) scale(1.1);
  }
}
