.btn {
  display: inline-block;
  background-color: $color-secondary;
  border-radius: 150px;
  padding: 0.7rem 5rem;
  font-size: 3rem;
  font-family: inherit;
  text-decoration: none;
  color: $color-text;
  position: relative;
  backface-visibility: hidden;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in;
  outline: none;
  border: none;

  @include respond(tab-land) {
    font-size: 2.6rem;
  }

  @include respond(tab) {
    font-size: 2.2rem;
  }

  &::before {
    height: 100%;
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    background-color: darken($color-secondary, 4%);
    transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    top: 0;
    left: 0;
    transform: translateX(110%) scale(1.1);
    border-radius: 150px;
    backface-visibility: hidden;
  }

  &:hover {
    color: $color-text !important;
    cursor: pointer;
  }

  &:hover::before {
    transform: translateX(0) scale(1.1);
  }
}

.game-btn {
  padding: 1rem 8rem;
  font-size: 4rem;
}
