.form {
  padding: 3rem;
  min-width: 70rem;
  max-width: 90rem;
  border-radius: 10px;
  background-color: $color-text;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include respond(tab-port) {
    min-width: 50rem;
    max-width: 50rem;
  }

  @include respond(tab-port) {
    min-width: 35rem;
    max-width: 50rem;
    width: 50rem;
  }

  label {
    width: 90%;
    display: flex;
    flex-direction: column;
    color: $color-primary;
    font-weight: 300;
    font-size: 1.8rem;
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  input,
  textarea {
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 300;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba($color: $color-primary, $alpha: 0.8);
    margin-top: 0.3rem;
    transition: all 0.3s ease-in;
    color: $color-text;

    &:focus {
      background-color: rgba($color: $color-primary, $alpha: 1);
    }
  }

  textarea {
    resize: none;
    padding: 1.5rem;
    height: 20rem;
  }

  button {
    i {
      margin-right: 2rem;
    }
    margin-top: 3rem;
  }
}
