.section-gra {
  padding: 5rem 0;
  grid-column: 1/-1;

  .info-panel {
    width: 100%;
    text-align: center;
  }
}

.game {
  margin: 3rem 0 0 0;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 40rem));

  .img-container {
    position: relative;

    &.hide::before {
      content: '?';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 7rem;
      color: $color-text;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-secondary;
      border: 5px solid $color-primary;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
