// Base reset

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  color: $color-text;
  background-color: $color-secondary;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-text;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
