// Base reset

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  color: $color-text;
  background-color: $color-secondary;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  scroll-padding-top: 7.9rem;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: $color-primary;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: $color-text;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
