.text--thin {
  font-weight: 400;
}

.text--bold {
  font-weight: 700;
}

.text--light {
  color: $color-text;
}

.text--border {
  border-bottom: 4px solid $color-secondary;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}
